.popup {
    display: none;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    position: fixed;

    background-color: rgba(0, 0, 0, .5);

    margin: 0;
    padding: 0;
}