.button_type_add {
  background-image: url(../../../images/add-button.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  border: 2px solid #FFFFFF;
  
  width: 100%;
  min-height: 50px;
}

@media screen and (max-width: 720px) {
  .button_type_add {
    grid-column: span 2;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 640px) {
  .button_type_add {
    grid-column: auto;
  }
}
