.popup__button_type_close {
  background-image: url(../../../../images/add-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;

  border: 0;

  transform: rotate(45deg);

  position: absolute;
  right: -40px;
  top: -40px;

  min-width: 40px;
  min-height: 40px;
}

@media screen and (max-width: 570px) {
  .popup__button_type_close {
    right: 5px;
    top: -45px;
    min-width: 26px;
    min-height: 26px;
  }
}

@media screen and (max-height: 420px) {
  .popup__button_type_close {
    top: 10px;
    right: 5px;
    filter: invert(1);
  }
}
