.popup__form {
  display: grid;

  grid-template-rows: [title] auto 48px [fields] auto 48px [button] auto;

  width: 100%;

  background-color: #fff;

  box-sizing: border-box;
  border-radius: 10px;

  margin: 0 auto;
  padding: 36px;

  position: relative;
}

@media screen and (max-width: 470px) {
  .popup__form {
    padding: 25px 22px;
  }
}
