.popup__container_edit-profile {
  display: flex;
  flex-direction: column;

  max-width: 430px;

  width: 100%;

  background-color: #fff;

  box-sizing: border-box;
  border-radius: 10px;

  margin: 0;
  padding: 36px;

}

@media screen and (max-width: 470px) {
  .popup__container_edit-profile {
    padding: 25px 22px;
    margin: 0 20px;
  }
}
