.popup__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin: 40px;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .popup__image-container {
        margin: 30px;
    }
}