.field__input-error {
  visibility: hidden;

  width: 100%;

  display: block;
  height: 24px;

  font-size: 12px;
  line-height: 15px;

  color: #FF0000;

  margin: 5px 0 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .field__input-error {
    font-size: 11px;
    height: 14px;
  }
}
