.profile__button_type_edit {
    background-image: url(../../../../images/edit-button.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  
    border: 1px solid #FFFFFF;
  
    min-width: 24px;
    min-height: 24px;
  
    margin: 4px 0 0 18px;
  }
  
  
  @media screen and (max-width: 720px) {
    .profile__button_type_edit {
      min-width: 18px;
      min-height: 18px;
      margin-left: 8px;
    }
  }